.container {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao 100% viewport */
}
.Title {
  text-align: center;
  font-family: "Inter", sans-serif; /* Added a fallback font */
  font-size: 30px;
  color: #228B22;
}

.Login {
  display: flex;
  justify-content: flex-start; /* Căn bên trái */
  align-items: center; /* Giữ căn giữa theo chiều dọc */
  text-align: left; /* Căn trái */
  width: 100%;
  color: #228B22;
  font-size: 16px; 
  margin: 0;
  padding: 5px;
}

.LoginButton {
  background-color: #228B22;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Added 'px' unit */
  cursor: pointer;
  width: 320px;
  margin: auto;
  display: block;
}

.Inputtext {
  width: 300px;
  font-size: 16px; /* Added 'px' unit */
  padding: 10px;
  border: 1px grey solid; 
  display: block;
  margin: auto;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-message {
  color: red; /* Màu đỏ cho thông báo lỗi */
  margin-top: 5px; /* Khoảng cách trên thông báo lỗi */
}

.login-container {
  border: 2px solid black; 
  padding: 5px; /* Khoảng cách bên trong khung */
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.forgot-password {
  text-align: right; /* Căn phải */
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  margin-top: 0; /* Đặt khoảng cách trên bằng 0 để sát hơn */
}
